.posts--main--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 750px;
  padding: 30px;
}

/* ************************************ */
.posts--main--container--table {
  width: 90vw;
  height: inherit;
}
